{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html
        lang="en"
        ng-app="app"
>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static "images/icon.png" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/style_vendor.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style_bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/ui-bootstrap-csp.css' %}">
    <base href="/">
</head>
<body>
<div ui-view="car"></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-animate.min.js' %}"></script>
<script src="{% static 'js/angular-touch.min.js' %}"></script>
<script src="{% static 'js/angular-ui-router.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'base/js/vendor.js' %}"></script>
<script src="{% static 'base/js/bundle.js' %}"></script>
</body>
</html>